body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(229, 229, 245);
    color:black;
    line-height:1.5;
    margin:0;
    padding:0;
}
h1,h2{
    font-weight: 700;
}
p,a{
    font-weight: 400;
}
a{
    color:blueviolet;
    text-decoration: dotted;
    display:inline-block;
    margin:5px 0;
}
hr{
    width: 40%;
    margin: 10px 5px 4px 2px;
    border: 1px solid rgb(46, 19, 46);
}
header,footer{
    background:linear-gradient(to right, rgb(185, 120, 185),rgb(117, 117, 160),rgb(119, 58, 119));
    color:whitesmoke;
    padding:5px;
    text-align:center;
}
a:hover{
    color:rgb(29, 2, 54)
}
section{
    padding:20px;
    text-align:center;
}
img{
    width: 250px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgb(62, 62, 134);
    object-fit:cover;
}
ul{
    list-style-type:none;
    padding:0;
    text-aligin:center;
}
ul li{
    display:inline-block;
    background:rgb(134, 134, 185);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(24, 24, 100);
    margin: 0 5px;
}
form{
    width:100%;
    max-width: 500px;
    margin: 20px auto;
}